<!DOCTYPE html>
{% extends "common/base.html" %}
<html lang="zh">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>可视化巡查管理</title>

    {% block privatecss %}
        <link href={% static "css/map.css" %} rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
    {% block bodycontent %}
    <div class="leftroad">
        <table class="table table-bordered table table-hover" style="width: 100%;float: left">
            <thead>
                <tr style="width: 100%;">
                    <th style="text-align:center; vertical-align:middle!important;">道路编号</th>
                    <th style="text-align: center;vertical-align:middle!important;">道路名称</th>
                    <th style="text-align: center;vertical-align:middle!important;">道路等级</th>
                </tr>
            </thead>
            <tbody>
                {% for task in Tasks %}
                    <tr onclick="LocateRoad(this);">
                        <td align="center">{{task.巡查道路.道路编号}}</td>
                        <td align="center">{{task.巡查道路.道路名称}}</td>
                        <td align="center">{{task.巡查道路.道路等级.道路等级}}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
    <div id="rightmap"></div>
        <!-- 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel" align="center">
                        道路巡查
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group" style="padding-left: 2%;padding-right: 2%;">
                            <label for="inspectors">巡查人员：</label>
                            <input type="text" class="form-control" id="inspectors" placeholder="巡查人员">
                        </div>
                        <div class="form-group"style="padding-right: 2% ">
                            <label for="roadId">道路编号：</label>
                            <input type="email" class="form-control" id="roadId" placeholder="道路编号" readonly="true">
                        </div>
                        <div class="form-group"style="padding-left: 2%;padding-right: 2%;">
                            <label for="roadName">道路名称：</label>
                            <input type="email" class="form-control" id="roadName" placeholder="道路名称" readonly="true">
                        </div>
                        <div class="form-group"style="padding-right: 2%;">
                            <label>损害类型：</label>
                            <select id="damageType" class="form-control">

				            </select>
                        </div>
                        <div class="form-group"style="padding-left: 2%;padding-right: 2%;">
                            <label for="damageDetail">损坏描述：</label>
                            <input type="email" class="form-control" id="damageDetail" placeholder="损坏位置及情况描述">
                        </div>
                        <div class="form-group"style="padding-right: 2%;">
                            <label for="note">备&#12288&#12288注：</label>
                            <input type="email" class="form-control" id="nite" placeholder="备注">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="padding-left: 25%;float: left;">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"> 关 闭 </button>
                    </div>
                    <div style="padding-right: 25%;">
                        <button type="button" class="btn btn-primary" onclick="patrolEnd()"
                        onkeypress="patrolEnd()"> 提 交 </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    {% endblock %}

    {% block privatejs %}
        <script src={% static "js/map.js" %}></script>
    {% endblock %}
</body>
</html>